body {
  margin: 0;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  width: 380px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* 입력 영역 */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #4a90e2;
}

#addBtn {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* 리스트 영역 */
.todo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  gap: 20px;
}

.todo-section {
  flex: 1;
}

ul {
  padding: 0;
  list-style: none;
}

/* 카드 */
li {
  display: flex;   
  gap: 60px; 
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  padding: 14px;
  border-radius: 16px;
  margin-top: 16px;
}

/* 버튼 */
button {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.todo__button--complete {
  background: #2ecc71;
  color: white;
}

.todo__button--delete {
  background: #e74c3c;
  color: white;
}